<thead>
    <th>Name</th>
    <th>Birthday</th>
    <th>CPF</th>
    <th>Pets</th>
</thead>
<tbody>
    {{#each result}}
    <tr>
        <td>{{name}}</td>
        <td>{{birthday}}</td>
        <td>{{cpf}}</td>
        <td>
            {{#each pets}}
            {{name}}
            {{/each}}
        </td>
    </tr>
    {{/each}}
</tbody>
